<div id="about_box">

<h3 style="text-align: center;">What's This?</h3>
<p>TwitEars shows who sees your @reply conversations on Twitter.</p>

<h3>Doesn't Everyone See @Replies?</h3>

<p>Not after the infamous "fixreplies" change to the Twitter system.</p>

<p>Twitter now filters everyone's conversation stream so that you only see @replies if you follow <strong>both</strong> people involved.</p>

<p>You might think of your @replies as being more like dinner conversation when you have other friends seated at the same table.  Twitter assumes that, if you follow two friends, you might be interested in hearing a conversation between the two of them.</p>

<p>So, when you send an @reply, Twitter shows the message to the people who follow both you and the person you are messaging.</p>

<p>An @reply is a useful way for a group to communicate, but it's not a private message.  It still appears on your profile page and in search results.</p>

<p>But checking to see who follows your @reply conversations can help you see how big an audience you're addressing &mdash; and that you're not accidentally spamming your other followers with a side conversation.</p>

<h3>Does the Target of My @Reply Always See It in Their Timeline?</h3>

<p>No.  Unless they follow you, your message will not show up in their main timeline.  But there is still hope.  Your message will still show up under the Mentions tab (what shows up as their username in the sidebar), so most users will eventually get your message.</p>

<p>An @reply sent to someone who doesn't follow you (say, a web celebrity) is a kind of shout out to them.  They might not be paying attention, but the friends closer to you (who also happen to follow that same celebrity) would hear you loud and clear.</p>
</div>