<div id="user_box">
	<h3>To use TwitEars, you need to authenticate with Twitter.</h3>
	<div style="width: 151px; margin: 20px auto 40px;">
	<a href="/request"><img src="/public/images/sign-in-with-twitter-d.png" align="center"></a>
	</div>
	<div id="no_pass_required">You are only authorizing us to access your account. We do not send any tweets on your behalf.</div>
</div>
<div id="start_box">
<p>After you sign in, TwitEars can show you the circle of people who would see your @reply messages.</p>
</div>
<div id="about_box" style="text-align: right; font-size: 0.8em;">
<p><a href="/about">What does this all mean?</a></p>
</div>


